<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>商品カート</title>
    </head>
    <body>
        <h2>商品一覧</h2>
        <form method="post">
            {% csrf_token %}
            <button name="item" value="りんご">りんごをカートに追加</button>
            <button name="item" value="みかん">みかんをカートに追加</button>
            <button name="item" value="バナナ">バナナをカートに追加</button>
        </form>

        <form method="post" action = "{% url 'cart_clear' %}">
            {% csrf_token %}
            <button type = "submit">カートをリセット</button>
        </form>
        <h3>カート</h3>
        {% if cart %}
            <ul>
            {% for item in cart %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>カートは空です。</p>
        {% endif %}
    </body>
</html>