{% extends 'sns/layout.html' %}

{% block title %}Post{% endblock %}

{% block header %}
    <h1 class = "display-4 text-primary">Post</h1>
    <p class = "caption">Post your message.</p>
{% endblock %}

{% block content %}
    <form action = "{% url 'post' %}" method = "post">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content" class="form-control" rows="3" required></textarea>
        </div>
        <button type = "submit" class = "btn btn-primary mt-2">Post!</button>
    </form>

    <table class = "table mt-3">
        <tr><th>
            Messages
        </th></tr>
        {% for item in contents %}
            <tr><td>
                <p class = "fs-5 my-0">
                    {{ item.content }}
                </p>
                <p class = "text-end my-0">
                    ({{ item.pub_date}})
                </p>
                <p class = "text-end my-0">
                    👍{{ item.good_count }}
                </p>
            </td></tr>
        {% endfor %}
    </table>
{% endblock %}